.LoginForm-container {
    flex-direction: column;
    background-color: var(--background-color);
    border-radius: var(--border-radius-base);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: var(--padding-large);
    max-width: 448px;
    width: 100%;
}

.LoginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 40px);
    box-sizing: border-box;
}

.LoginForm-title {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: var(--margin-medium);
}

.LoginForm-forgotPassword {
    display: block;
    text-align: center;
    color: var(--link-color);
    margin-top: var(--margin-medium);
}

.LoginForm-forgotPassword:hover {
    text-decoration: underline;
}

.LoginForm-terms {
    text-align: center;
    color: var(--muted-color);
    margin-top: var(--margin-medium);
}

.LoginForm-inputGroup {
    width: 100%;
}

.LoginForm-inputGroupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

.LoginForm-inputLabel {
    display: block;
    margin-bottom: var(--margin-small);
    color: var(--text-color);
}

.LoginForm-themeButtons {
    display: flex;
    justify-content: space-between;
    margin-top: var(--margin-base);
}

.LoginForm-button {
    width: 100%;
}