.Profile {
    padding: var(--padding-large);
    background-color: var(--background-color-light);
    border-radius: var(--border-radius-base);
    box-shadow: 0 4px 8px var(--shadow-color);
    max-width: 600px;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 80px;
}

.Profile h1 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: var(--margin-large);
}

.Profile-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--margin-medium);
}

.Profile-inputGroup {
    display: flex;
    flex-direction: column;
    gap: var(--margin-small);
}

.Profile-inputGroup label {
    font-size: var(--font-size-base);
    color: var(--text-color);
}

.Profile-inputGroup input {
    padding: var(--padding-base);
    font-size: var(--font-size-base);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-small);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.Profile-inputGroup input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(116, 186, 204, 0.2);
}

.Profile-fileUpload {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-medium);
    border: 2px dashed var(--border-color);
    border-radius: var(--border-radius-base);
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
}

.Profile-fileUpload:hover {
    border-color: var(--primary-color);
    background-color: var(--hover-color);
}

.Profile-fileInput {
    display: none;
}

.Profile-fileUpload svg {
    color: var(--primary-color);
    margin-right: var(--margin-small);
}

.Profile-fileUpload span {
    font-size: var(--font-size-base);
    color: var(--text-color);
}

.Profile button {
    width: 100%;
    padding: var(--padding-base);
    font-size: var(--font-size-medium);
    font-weight: 600;
    border-radius: var(--border-radius-small);
    border: none;
    background-color: var(--primary-color);
    color: var(--button-text-color);
    transition: background-color 0.3s, transform 0.2s;
}

.Profile button:hover {
    background-color: var(--button-hover-color);
    transform: translateY(-2px);
}

.Profile button:active {
    transform: translateY(0);
}

.Profile-imagePreview{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: var(--margin-medium);
    box-shadow: 0 4px 6px var(--shadow-color);
    border: 2px solid var(--border-color);
  }
  