.MyProjects {
    padding: var(--padding-small);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20;
}

.MyProjects-title {
    margin-bottom: var(--margin-small);
    color: var(--primary-color);
    text-align: center;
    font-size: 2rem;
}

.MyProjects-empty {
    text-align: center;
    color: var(--muted-color);
    font-size: 1.2rem;
}

.MyProjects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 80px;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    margin-top: 24px;
}